/*  
font-family: 'Noto Sans JP', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@font-face {
	font-family: 'lost_wild';
	src: url(../fonts/Lost_in_Wild.ttf) format('truetype');

}


:root {
	--cor1: #D9325E;
	--cor2: #023E73;
	--cor3: #F2AB27;
	--cor4: #F2921D;
	--cor5: #F2AFA0;
}

html {
	width: 99vw;
	height: 99vh;
	border: 2px solid white;
	border-radius: 10px;
}

body {
	
	background-color: var(--cor2);
	
}

h1 {
	font-family: 'lost_wild';
	margin-top: 50px;
	color: white;
	font-size: 20px;
	text-shadow: 0px -30px 3px var(--cor5);
}



section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 35px;
}

section img {
	width: 130px;
	margin: 7px 10px 0px 0px;
}

main {
	display: flex;
	justify-content: center;
}

.container-roupas {
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 45px;
}

.container-roupas button {
	width: 190px;
	height: 50px;
	margin: 5px;
	background-color: var(--cor1);
	color: white;
	border: 2px dashed white;
	font-weight: bolder;
	font-size: 15px;
	border-radius: 8px;
	font-family: 'Noto Sans JP', sans-serif;
}

.container-roupas button:hover {
	transform: scale(1.03);
	background-color: var(--cor4);
}

/* MEDIA QUERY */

@media (min-width: 400px) {

	html {
	width: 99.3vw;
	}

	section img {
		width: 230px;
		margin: 7px 10px 0px 0px;
		margin-top: 50px;
	}

	h1 {
		font-size: 40px;
	}

	.container-main {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.container-roupas {
		width: 600px;
		justify-content: center;
	}

	.container-roupas button {
		width: 300px;
	}

}