@font-face {
	font-family: 'lost_wild';
	src: url(../fonts/Lost_in_Wild.ttf) format('truetype');
}

:root {
	--cor1: #D9325E;
	--cor2: #023E73;
	--cor3: #F2AB27;
	--cor4: #F2921D;
	--cor5: #F2AFA0;
}

html {
	width: 99vw;
	height: 99vh;
	border: 2px solid white;
	border-radius: 10px;
}

body {
	background-color: var(--cor2);
	
}

h1 {
	font-family: 'lost_wild';
	margin-top: 50px;
	color: white;
	font-size: 20px;
	text-shadow: 0px -30px 3px var(--cor5);
}

section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

section img {
	width: 130px;
	margin: 7px 10px 0px 0px;
}

main {
	display: flex;
	justify-content: center;
}

main .roupas-img img {
	width: 150px;
	margin: 15px;
}

.container-roupas {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 45px;
}


/* MEDIA QUERY */

@media (min-width: 400px) {

	html {
	width: 99.3vw;
	}
	.container-roupas {
		width: 600px;
		justify-content: center;
	}

}